* {
    box-sizing: border-box;
  }

.add-goal {
    margin: 100px 15px;
    line-height: 1.5;
    
    float: left;
    width: 25%;
    padding: 0 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    background-color: #f1f1f1;
}


  p {
    text-align: center;
    line-height: 1.5;
}

  nav a {
    float: left;
    color: #f2f2f2;
    padding: 1px 10px;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
  }

  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
   
  }
  ul {
    list-style-type: none;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }


  /* Remove extra left and right margins, due to padding in columns */
  .row {
      margin: 0 -5px;
      padding-top: 130px;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .task {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
